<header>
  <nav>
    <div
      class="flex items-center justify-between px-4 py-4 bg-[#131921] text-white"
    >
      <div>
        <a href="/">
          <span class="sr-only">Amazon</span>
          <span>Amazon.in</span>
        </a>
      </div>
      <div>Hyderabad 500070</div>
      <div>Search</div>
      <div>Hello Sridhar</div>
      <div>cart</div>
    </div>
    <!-- <div>
      <ul>
        <li>
          <a href="http://">Home</a>
        </li>
        <li>
          <a href="http://">Books</a>
        </li>
        <li>
          <a href="http://">Electronics</a>
        </li>
        <li>
          <a href="http://">Shopping</a>
        </li>
        <li>
          <a href="http://">Groceries</a>
        </li>
        <li>
          <a href="http://">Kitchen</a>
        </li>
        <li>
          <a href="http://">Toys</a>
        </li>
      </ul>
    </div> -->
  </nav>
</header>
