<section class="bg-[#f1f2f4] py-5">
  <div class="w-[80%] py-5 px-4 mx-auto bg-white">
    <div class="flex">
      <div class="w-[40%]">
        <div class="flex">
          <div class="w-1/4">
            <div
              class="h-[60px] border-[3px] border-transparent hover:border-blue-700 w-full cursor-pointer mb-1"
            >
              <img
                src="../assets/Screenshot 2025-03-05 233005.png"
                class="h-full w-full object-contain block"
              />
            </div>
            <div
              class="h-[60px] border-[3px] border-transparent hover:border-blue-700 w-full cursor-pointer mb-1"
            >
              <img
                src="../assets/Screenshot 2025-03-05 233441.png"
                class="h-full w-full object-contain block"
              />
            </div>
            <div
              class="h-[60px] border-[3px] border-transparent hover:border-blue-700 w-full cursor-pointer mb-1"
            >
              <img
                src="../assets/Screenshot 2025-03-05 233536.png"
                class="h-full w-full object-contain block"
              />
            </div>
            <div
              class="h-[60px] border-[3px] border-transparent hover:border-blue-700 w-full cursor-pointer mb-1"
            >
              <img
                src="../assets/Screenshot 2025-03-05 233616.png"
                class="h-full w-full object-contain block"
              />
            </div>
          </div>
          <div class="w-3/4">
            <div class="h-[500px] w-full">
              <img
                src="../assets/Screenshot -main-1.png"
                class="h-full w-full object-contain block"
              />
            </div>
          </div>
        </div>
        <div class="flex gap-2 mt-2">
          <button
            type="button"
            class="flex-1 bg-[#ff9f00] text-white flex items-center justify-center p-4"
          >
            ADD TO CART
          </button>
          <button
            type="button"
            class="flex-1 bg-[#fb641b] text-white flex items-center justify-center p-4"
          >
            BUY NOW
          </button>
        </div>
      </div>
      <div class="w-[60%] px-4">
        <div class="flex flex-col">
          <div class="text-[#878787] font-bold">RED TAPE</div>
          <h1 class="text-[#212121] text-[18px]">
            Men Solid Round Neck Pure Cotton Dark Blue T-Shirt
          </h1>
          <div class="text-[#212121] text-[28px]">$299</div>
          <div class="flex gap-5 my-8">
            <div class="text-[#878787]">COLOR</div>
            <div class="flex gap-5">
              <div class="h-[100px]">
                <img
                  src="../assets/Screenshot -main-1.png"
                  class="h-full w-full object-contain block"
                />
              </div>
              <div class="h-[100px]">
                <img
                  src="../assets/Screenshot -main-1.png"
                  class="h-full w-full object-contain block"
                />
              </div>
              <div class="h-[100px]">
                <img
                  src="../assets/Screenshot -main-1.png"
                  class="h-full w-full object-contain block"
                />
              </div>
              <div class="h-[100px]">
                <img
                  src="../assets/Screenshot -main-1.png"
                  class="h-full w-full object-contain block"
                />
              </div>
            </div>
          </div>
          <div class="flex gap-5">
            <div class="text-[#878787]">SIZE</div>
            <div class="flex gap-4">
              <div
                class="flex items-center justify-center border-2 border-[#f0f0f0] h-10 w-10"
              >
                <span class="text-xl uppercase">S</span>
              </div>
              <div
                class="flex items-center justify-center border-2 border-[#f0f0f0] h-10 w-10"
              >
                <span class="text-xl uppercase">m</span>
              </div>
              <div
                class="flex items-center justify-center border-2 border-[#f0f0f0] h-10 w-10"
              >
                <span class="text-xl uppercase">L</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[80%] py-5 px-4 mx-auto mt-5 bg-white">
    <div class="p-4 bg-white">
      <h1 class="text-2xl font-semibold">Similar Products</h1>
      <div class="flex gap-5">
        <div class="px-4 py-4 flex gap-4 flex-col items-center w-[200px]">
          <img
            src="../assets/motorola-edge-50-5g.jpg"
            class="h-36 w-auto block"
          />
          <div class="flex flex-col gap-1">
            <h4 class="">Motorola Edge 50 Pro 5G</h4>
            <div>Just ₹20,999*</div>
          </div>
        </div>
        <div class="px-4 py-4 flex gap-4 flex-col items-center w-[200px]">
          <img
            src="../assets/motorola-edge-50-5g.jpg"
            class="h-36 w-auto block"
          />
          <div class="flex flex-col gap-1">
            <h4 class="">Motorola Edge 50 Pro 5G</h4>
            <div>Just ₹20,999*</div>
          </div>
        </div>
        <div class="px-4 py-4 flex gap-4 flex-col items-center w-[200px]">
          <img
            src="../assets/motorola-edge-50-5g.jpg"
            class="h-36 w-auto block"
          />
          <div class="flex flex-col gap-1">
            <h4 class="">Motorola Edge 50 Pro 5G</h4>
            <div>Just ₹20,999*</div>
          </div>
        </div>
        <div class="px-4 py-4 flex gap-4 flex-col items-center w-[200px]">
          <img
            src="../assets/motorola-edge-50-5g.jpg"
            class="h-36 w-auto block"
          />
          <div class="flex flex-col gap-1">
            <h4 class="">Motorola Edge 50 Pro 5G</h4>
            <div>Just ₹20,999*</div>
          </div>
        </div>
        <div class="px-4 py-4 flex gap-4 flex-col items-center w-[200px]">
          <img
            src="../assets/motorola-edge-50-5g.jpg"
            class="h-36 w-auto block"
          />
          <div class="flex flex-col gap-1">
            <h4 class="">Motorola Edge 50 Pro 5G</h4>
            <div>Just ₹20,999*</div>
          </div>
        </div>
        <div class="px-4 py-4 flex gap-4 flex-col items-center w-[200px]">
          <img
            src="../assets/motorola-edge-50-5g.jpg"
            class="h-36 w-auto block"
          />
          <div class="flex flex-col gap-1">
            <h4 class="">Motorola Edge 50 Pro 5G</h4>
            <div>Just ₹20,999*</div>
          </div>
        </div>
        <div class="px-4 py-4 flex gap-4 flex-col items-center w-[200px]">
          <img
            src="../assets/motorola-edge-50-5g.jpg"
            class="h-36 w-auto block"
          />
          <div class="flex flex-col gap-1">
            <h4 class="">Motorola Edge 50 Pro 5G</h4>
            <div>Just ₹20,999*</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
